name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    #- cron:  ' 1 * * * *'
    - cron:  '30 5,17 * * *'
  workflow_dispatch:   

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
      #- uses: anmol098/waka-readme-stats@V3
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          #GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.gh_waka_usr }} 
